:root {
  --primary-color: rgb(34 255 255);
  --primary-text-color: rgb(200 255 255);
  --secondary-text-color: rgb(210 210 210);
  --secondary-color: #fff;
  --background-color: rgb(0 20 24);
  --dark-color: #000;
}

html,
body {
  margin: 0;
  padding: 0;
}

.text-accent-glow {
  color: var(--primary-color);
  text-shadow:
    0 0 10px var(--primary-color),
    0 0 25px var(--primary-text-color);
}

.video-background {
  width: 100%;
  height: 100vh;
  min-width: 100%;
  display: inline-block;
  top: 0;
  left: 0;
  object-fit: cover;
  position: fixed;
}

video {
  position: fixed;
  z-index: -999;
}

/* background: rgba(0, 0, 0, 0.5); */
.container-video::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -99;
}

.parallax {
  background-color: var(--background-color);
  margin-top: 100vh;
}

.image-logo {
  position: relative;
  height: 22vh;
  display: block;
  margin: auto;
}

.container-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9;
  width: 50%;
  text-align: center;
}

.container-tagline {
  margin-top: 100vh;
  padding: 24px;
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: center;
  border-top: solid 2px var(--primary-color);
  border-bottom: solid 2px var(--primary-color);
}

.container-about {
  padding: 32px;
  padding-top: 60px;
  background-color: var(--background-color);
}
