:root {
  --primary-color: rgb(34 255 255);
  --primary-text-color: rgb(200 255 255);
  --secondary-text-color: rgb(210 210 210);
  --secondary-color: #fff;
  --background-color: rgb(0 20 24);
  --dark-color: #000;
}

html,
body {
  margin: 0;
  padding: 0;
}

.background-gradient {
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--background-color),
    var(--background-color),
    var(--background-color),
    var(--background-color),
    var(--primary-color)
  );
}

.text-header {
  font-family: Orbitron, sans-serif;
  color: var(--primary-color);
  text-shadow:
    0 0 10px var(--primary-color),
    0 0 25px var(--primary-text-color);
}

.text-accent {
  font-family: "Share Tech Mono", sans-serif;
  color: var(--primary-text-color);
}

.text-general {
  font-family: "Share Tech Mono", sans-serif;
  color: var(--secondary-text-color);
}

.video-background {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  top: 0;
  left: 0;
  object-fit: cover;
  position: fixed;
}

video {
  position: fixed;
  z-index: -999;
}

.container-video::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -99;
}

.image-logo {
  position: relative;
  height: 22vh;
  display: block;
  margin: auto;
}

.container-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9;
  width: 50%;
  text-align: center;
}

.container-tagline {
  margin-top: 100vh;
  padding: 24px;
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: center;
  border-top: solid 2px var(--primary-color);
  border-bottom: solid 2px var(--primary-color);
}

.container-about {
  padding: 1.5rem;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .img-fluid.image-about {
    max-width: 500px;
  }
  .text-align-left {
    text-align: start;
  }
}

.list-about {
  list-style-type: none;
  padding: 0;
}

.list-about > li > b > span {
  color: var(--primary-text-color);
}

.list-about > li > b > span > i {
  color: var(--primary-color);
}

.card.card-portfolio {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-text-color);
  margin: 16px auto;
  padding: 16px;
  max-width: 400px;
}

.card-overlay {
  position: absolute;
  inset: 16px;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  opacity: 0.5;
  transition: 0.5s ease;
  background-color: var(--background-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-overlay:hover {
  opacity: 0;
  cursor: pointer;
}

.modal-header.modal-header-custom {
  background-color: var(--background-color);
  border-bottom: none;
  padding: 16px 8px;
}

.modal-header-custom > button {
  border: 2px solid var(--primary-color);
}

.modal-dialog.modal-portfolio {
  border: 1px solid var(--primary-color);
  padding: 0 16px 16px 16px;
  background-color: var(--background-color);
}

.container-contact {
  margin: 60px 32px;
}

.form-control.form-input {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-text-color);
}

.form-control.form-input:focus {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-text-color);
}

.form-floating>label {
  border: none;
  color: var(--primary-color) !important;
}

.form-floating>label::after {
  background-color: transparent !important;
}

.btn.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.container-footer {
  padding: 1.5rem;
  border-top: 2px solid var(--primary-color);
}
